<div class="container-fluid">
    <div style="text-align: center;">
        <h3>3S</h3>
        <h6>Raw material suggetion system</h6>
        <button mat-raised-button color="primary" routerLink="/predict">Find out!</button>
    </div>

</div>
