<div class="container-fluid">
      <!-- form -->
    <div *ngIf="!this.show_result && this.form " style="margin: 16px;">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <div style="padding: 8px; margin: 8px;" *ngFor="let question of question_array let i=index">
                        <mat-form-field appearance="fill" style="width: 70vw !important;">
                            <mat-label>{{question.question}}</mat-label>
                            <mat-select [formControl]="form.get('questions')['controls'][i].get(question.key)" multiple>
                                <mat-option *ngFor="let option of question.ans" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                            <small
                            *ngIf="form.get('questions')['controls'][i].get(question.key).hasError('required') && form.get('questions')['controls'][i].get(question.key).touched"
                            class="text-danger support-text">Please choose one of the option</small>
                        </mat-form-field>
                        
                    </div>

                    <button style=" margin: 16px;" mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Find out suitable
                        raw material!</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>


    <!-- result -->
    <div *ngIf="this.show_result" style="text-align: center; height: 25vh; width: 25vw; position: absolute; top: 30vh; left: 30vw;">
        <mat-card>
            <mat-card-subtitle>Suggested product</mat-card-subtitle>     
            <mat-card-content>
                <div style="font-size: 20px; font-weight: 700;">{{mapped_result}}</div>
             </mat-card-content>
             <mat-card-actions>
                 <button (click)="home()" color="accent" mat-raised-button>Home</button>
                 <button (click)="again()" color="primary"  mat-raised-button>Again</button>
             </mat-card-actions>
        </mat-card>
    </div>


</div>

<ngx-spinner></ngx-spinner>